version: "3.9"

services:
  app:
    image: mcr.microsoft.com/devcontainers/php:8.2
    volumes:
      - ..:/workspace:cached
    command: sleep infinity
    ports:
      - "8000:8000"
      - "5173:5173"
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: docker
      MYSQL_USER: docker
      MYSQL_PASSWORD: docker
      MYSQL_ROOT_PASSWORD: tiger
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  mysql-data:
